.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    a {
      position: relative;
      padding: 5px 0.5rem;
      margin: 0 1rem;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        background-color: orange;
        height: calc(100% + 10px);
        width: 0;
        z-index: -1;
        transition: width 300ms ease;
      }

      &:hover::after {
        width: 100%;
      }

      &.active::after {
        width: 100%;
      }
    }
  }
}
