.news-item {
  padding: 1rem 0;
  margin: 1rem 0;
  border-bottom: 1px solid #555;
  h2 {
    font-size: 1.3rem;

    a {
      position: relative;
      color: #222;
      text-decoration: none;

      &::after {
        content: "";
        position: absolute;
        width: 0;
        z-index: -1;
        height: 5px;
        background-color: orange;
        transition: 500ms width ease;
        bottom: -3px;
        left: 0;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  small {
    display: block;
    margin-top: 0.8rem;
  }
}
