.comment-author {
  font-weight: bold;

  span {
    color: #555;
    font-size: 0.8rem;
    font-weight: lighter;
  }
}

.comment-text {
  &.collapsed {
    max-height: 48px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }
}

a {
  color: blue;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
