* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 16px;
}

.container {
  width: 850px;
  margin: 0 auto;

  @media screen and (max-width: 900px) {
    width: 600px;
  }
  @media screen and (max-width: 700px) {
    width: 98%;
  }
}
