.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  opacity: 85%;
  z-index: 100;
}

.loading-overlay::after {
  animation: loading 1s infinite ease-out;
  background: radial-gradient(rgb(255, 165, 0), rgb(255, 165, 100));
  border-radius: 50%;
  content: "";
  height: 6rem;
  width: 6rem;
  position: absolute;
  top: calc(50% - 3rem);
  left: calc(50% - 3rem);
}

@keyframes loading {
  from {
    opacity: 1;
    transform: scale(0.001);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}
